body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/background.PNG);
  background-size: cover;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 550px;
  padding: 40px;
  background:rgba(0,0,0,.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px;
}
.box h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;

}
.box .inputBox{
  position: relative;

}
.box .inputBox input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black/*#fff*/;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition:.5s;

}
.box .inputBox input:focus ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
#send
{
  background: transparent;
  border:none;
  outline: none;
  color: blue;
  background: #03a9f4;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 330px;
  height: 50px

}
#sends
{
  background: transparent;
  border:none;
  outline: none;
  color: blue;
  background: white;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 330px;
  height: 50px

}
 #p{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align:left;

}
.links{
  background: #4479BA;
  color: #FFF;
  padding: 8px 12px;
  text-decoration: none;
  height: 30px;
  width: 300px;
  display: block;
  text-align: center;
}